<a href="https://colab.research.google.com/github/SrishtiPatil/supervised-methods-for-text-categorization/blob/main/Tag_Generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#run on all files train and valid
data = pd.read_csv('/valid_freq.txt', delimiter = "\t",header=None)
data.columns = ['text']
data['speaker'] = data['text'].str.split(': ').str[0]
data['message'] = data['text'].str.split(': ').str[1]
data.head(5)

                                                text  ...                                            message
0                 Speaker 0: Are you a football fan?  ...                            Are you a football fan?
1               Speaker 1: yes, I'm. a football fan.  ...                          yes, I'm. a football fan.
2  Speaker 0: Did you now that the university of ...  ...  Did you now that the university of Iowa's visi...
3  Speaker 1: Yes, I do.  I think they want to in...  ...  Yes, I do.  I think they want to intimidate th...
4  Speaker 0: Something like that would just make...  ...  Something like that would just make me mad and...

[5 rows x 3 columns]

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
#This is how nlp returns tags in  order to store those we use the code in below code
'''doc = nlp("Are you a fan of Google or Microsoft? Both are excellent technology they are helpful in many ways. For the security purpose both are super.I'm not  a huge fan of Google, but I use it a lot because I have to. I think they are a monopoly in some sense. Google provides online related services and products, which includes online ads, search engine and cloud computing.Yeah, their services are good. I'm just not a fan of intrusive they can be on our personal lives. Google is leading the alphabet subsidiary and will continue to be the Umbrella company for Alphabet internet interest. Did you know Google had hundreds of live goats to cut the grass in the past? \n")
spacy.displacy.render(doc, style='ent',jupyter=True)'''

In [ ]:
tags = []
def show_ents(doc):
  if doc.ents:
    for ent in doc.ents:
      return[tags.append(ent.text+' - '+ent.label_+ ' - '+str(spacy.explain(ent.label_)))]
  else:
    return[tags.append('No named entities found.')]

In [ ]:
for i in data['message']:
    doc1 = nlp(i)
    show_ents(doc1)

In [ ]:
tags.head(15)

        Seeded_words     Topic
0           hundreds  CARDINAL
1                100  CARDINAL
2                  4  CARDINAL
3                One  CARDINAL
4               four  CARDINAL
5           only one  CARDINAL
6             only 1  CARDINAL
7                  1  CARDINAL
8                two  CARDINAL
9                 20  CARDINAL
10  Over 1.5 million  CARDINAL
11       1.5 million  CARDINAL
12         1 million  CARDINAL
13          about 20  CARDINAL
14             zeros  CARDINAL

In [ ]:
#Will create tags dataframe but will have repeated values both tags and words associated with it
tags_cpy = pd.DataFrame(tags)
tags_cpy.columns = ['tags']
tags_cpy.head()

                                                tags
0                           No named entities found.
1                           No named entities found.
2  the university of Iowa's - ORG - Companies, ag...
3                           No named entities found.
4                           No named entities found.

In [ ]:
#Split the words combnined in column tags to get them in comma seperated format
temp = tags_cpy['tags'].str.split("-", expand=True)

In [ ]:
tags_cpy.to_csv (r'/tags.csv', index = None)
#is a file where each word is a seprate row denoting its tag

In [ ]:
import pandas as pd

In [ ]:
file= '/CleanedTags.xlsx'
xls = pd.ExcelFile(file)
tags = xls.parse('Cleaned Tags')

In [ ]:
tags.head(10)

  Seeded_words     Topic
0     hundreds  CARDINAL
1          100  CARDINAL
2            4  CARDINAL
3          One  CARDINAL
4         four  CARDINAL
5     only one  CARDINAL
6       only 1  CARDINAL
7            1  CARDINAL
8          two  CARDINAL
9           20  CARDINAL

In [ ]:
#Will give number of unique tags in the excel
a = tags.Topic.unique()
a
#18 diff tags found

array(['CARDINAL', 'DATE', 'EVENT', 'FAC', 'GPE', 'LANGUAGE', 'LAW',
       'LOC', 'MONEY', 'NORP', 'ORDINAL', 'ORG', 'PERCENT', 'PERSON',
       'PRODUCT', 'QUANTITY', 'TIME', 'WORK_OF_ART'], dtype=object)

In [ ]:
a = pd.DataFrame(a)
a.columns = ['Topics']

In [ ]:
#Grouped all words associated to each tag
combined_tags=[]
for i in a['Topics']:
  temp = ""
  for j in range(len(tags)):
    if i == tags.Topic[j]:
      temp = temp + str(tags.Seeded_words[j]) + ","
  combined_tags.append(temp)
len(combined_tags)
a['Combined tags'] = combined_tags

In [ ]:
a.to_csv (r'/finaltags.csv', index = None)